{% extends "mobile/base.html" %}

{% block content %}

<div id="main" data-title="Roseniuskyrkan" class="panel" selected="true">
<ul class="list">

{% for event in events %}
<li id="{{event.pk}}-li"><center>{{event.role}} {{event.type}} {{event.date|date:"d M Y H:i"}}</center><br> 

<form style="float:left;margin-right:2em;margin-left:1em" action="/planner/participation/{{event.pk}}/" method="post">
  <a id="{{event.pk}}-true" class="button" onclick="$(this).parent().submit();">Kan medverka</a>
  {% csrf_token %}
  <input type="hidden" name="accept" value="true">
  <input type="hidden" name="pk" value="{{event.pk}}">
</form>


<form  action="/planner/participation/{{event.pk}}/" method="post">
  <a id="{{event.pk}}-false" class="button" style: onclick="$(this).parent().submit();">Kan inte medverka</a>
  {% csrf_token %}
  <input type="hidden" name="accept" value="false">
  <input type="hidden" name="pk" value="{{event.pk}}">
</form>

<script>
$(function () { 
  if ({{event.attending}} == true){
    $("#{{event.pk}}-true").addClass("blue");
  }
  if ({{event.attending}} == false){
    $("#{{event.pk}}-false").addClass("blue");
  }
});
</script>
{% endfor %}
</ul>


<script>
$("form").submit( function(event) {
    var bool = $(this).find('input[name="accept"]').val();
    var pk = $(this).find('input[name="pk"]').val();
    $('#' + pk + '-li').css( "opacity", 0.1); 

    $.post($(this).attr("action"), $(this).serialize());
    
    setTimeout(function() {$('#' + pk + '-li').css( "opacity", 1);
    if (bool == "true"){
      $('#' + pk + '-true').addClass('blue');
      $('#' + pk + '-false').removeClass('blue');
    } if (bool == "false"){
      $('#' + pk + '-true').removeClass('blue');
      $('#' + pk + '-false').addClass('blue');
    }}, 300);
    return false;
});
</script>
</div>

<div id="avsluta" name="avsluta" data-title="Tack" class="panel">
<h3><center>Tack för att Ditt svar!</center></h3>
<br>
Om du vill gå tillbaka och ändra dina val eller bara få en överblick över vad du ska göra så kan du återanvända länken som du fick i mailet.
</div>
{% endblock %}

{% block footer %}
<div id="navbar">
<a href="/planner/participation/thanks/" data-ignore="True">Spara & Avsluta</a>
</div>
{% endblock %}