body {
    font-size:85%;
    margin-left:5%;
    margin-right:5%;
}
#sidebar {
    clear:both;
    float: left;
    width: 15%;
    height: 30%;
    margin-top:10%:
}
h4 {
    margin-bottom:1%;
}

.select_title {
    margin-left:20px;
}

ul.label_selector{
    margin-top:0;
    margin-left:-15px;
    
}

li.label_selector{
    border-radius:25px;
    padding:2px;
    padding-left:10px;
    padding-right:10px;
}

.ui-selecting { background: #EBEBEB; }
.ui-selected { background: #EBEBEB;}

#menu {
    padding-top: 40px;
    margin-left: 320px;
}
.new_event{
    margin-left:-2em;
    padding-left:-4em;
    
}

#eventtable {
    margin-left: 270px;
    margin-top: 27px;
}


.formColumn{
    float:left;
}

#submit_div {
    float:right;
    margin-top:10px;
    margin-right:45%;
}

table, th, td, tr,{
    border: 1px solid black;
}

.eventtable td{
    width: 15em;
}

ul {
    display:inline-block;
    list-style-type: none;
}

.ctrlHolder{
    margin-top:0.5em;
}

#div_id_internal_notes, #div_id_description{
    margin-left: 5%;
    float:left;
    display: inline;
}

textarea {
    width:30em;
    height:20em;
    margin-bottom:0;
    display:block;
}

#data label{
    display: inline-block;
    float: left;
    clear: left;
    width: 160px;
    margin-right:1em;
    text-align: right;
}

tr:nth-child(even)           { background-color:#eee; }
tr:nth-child(odd)              { background-color:#fff; }

#tabs { width: 1000px; height: 150px; padding: 5px; overflow: auto;    clear: both;
   position: fixed;
   bottom: 15px;}
#resizable h3 { text-align: center; margin: 0; }

.textinput .dateinput .timeinput {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    width: 200px;
    border: 1px solid #999;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style-type: none;
    clear: left;
    border-radius:0px;
}


#new_event_menu
{
    list-style-type: none;
}

/* handle on the right */
.ui-resizable-n {
    height: 20px;
}

#left_div label{
    clear: none;
    float: none;
    margin-left:auto;
    margin-right:auto;
    display: block;
    width: auto;
    display: auto;
    text-align:center;
}

#left_div {
    width: 80em;
}

.hover {
    background: #E0EFF0 !important;
}

 /* force a height so the tabs don't jump as content height changes */
#tabs .ui-tabs-nav{
    position: absolute;
    left: 0;
    right: 0;
}

.tabs {
    margin-top:2.5em;
}

.thumbnail{
    float: left;
    display: inline;
    text-align:center;
    cursor: pointer;
}

#viewer{
}