
<!DOCTYPE HTML>
<html lang="en">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>   
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://malsup.github.io/min/jquery.form.min.js"></script>
    <script type="text/javascript" src="https://raw.githubusercontent.com/kayahr/jquery-fullscreen-plugin/master/jquery.fullscreen-min.js"></script>
    <script type="text/javascript" src="/static/js/ui.js"></script>

    <link id="ui-theme" rel="stylesheet" href="/static/css/theme/jquery-ui.css" />

    
    <link id="ui-theme" rel="stylesheet" href="/static/css/custom-theme/jquery-ui.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/custom-style.css" />
    
    <title>{% block title %}Planering{% endblock %}</title>  
    
<script>
 $(function() {
    $( "button" ).button().click(function( event ) {
        //event.preventDefault();
    });
    
    $( ".a_button" ).button();
});
</script>

</head>
<body>
<img id = "logo" src="/static/images/logo.png" –ßßstyle="float:left;margin-right:1em;">
<div id = "main-menu" class="menu" style="float:right;width:100%;margin-top:2em">
{% block menu %}
{% endblock %}

{% if user.is_authenticated %}
<img style="float:right" src="/static/images/fullscreen.jpeg" height="30" onclick="$(document).fullScreen(true);">


<a style="float:right" class="a_button" href="/logout"> Logga ut </a>
<div class="menu_launcher" style="float:right">
   Administration
   <div class="menu_container ui-widget-content">
        <ul class="menu">
            <li class="link"><a href="/administration/send_invitations/"> Skicka inloggning </a></li>
            <li class="link"><a href="/administration/get_mailchimp_users/"> Synka med MailChimp </a></li>
            <li class="link"><a href="/administration/send_email_participation/"> Skicka manuell förfrågan </a></li>
        </ul>
    </div>
</div>

<a style="float:right" class="a_button" href="/"> Evenemang </a>
{% endif %}

</div>

<script>
    $.ajaxSetup ({cache: true});
    menus();
    var w = $("#main-menu").width();
    var w = $("#main-menu").width(w-$("#logo").width()-20);
</script>

<div style="clear:both"></div>
{% block body %}
{% endblock %}
</body>
</html>
