
<!DOCTYPE HTML>
<html lang="en">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>    
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/ui/jquery.ui.datepicker-sv.js"></script>
    <script type="text/javascript" src="/static/js/jquery.form.js"></script>
    <script type="text/javascript" src="/static/js/jquery.fullscreen.js"></script>

    <link id="ui-theme" rel="stylesheet" href="/static/css/custom-theme/jquery-ui.css" />
    <link id="ui-theme" rel="stylesheet" href="/static/css/rosenius/jquery-ui.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    
    <link rel="stylesheet" href="/static/css/rosenius.css" />
    <title>{% block title %}Planering{% endblock %}</title>  
    
<script>
 $(function() {
    $( "button" ).button().click(function( event ) {
        //event.preventDefault();
    });
    
    $( "a" ).button();
});
$(function() {
$( document ).tooltip({show: {delay:1000}});
});    
</script>

</head>
<body>
<div id="logo">
</div>
<div style="float:right">
<img src="/static/images/fullscreen.jpeg" height="30" onclick="$(document).fullScreen(true);">
</div>
<script>
 $.ajaxSetup ({
  cache: true
 });
</script>
{% block body %}
{% endblock %}
</body>
</html>
