
<!DOCTYPE HTML>
<html lang="en">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>    
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://malsup.github.io/min/jquery.form.min.js"></script>
    <script type="text/javascript" src="https://raw2.github.com/kayahr/jquery-fullscreen-plugin/master/jquery.fullscreen-min.js"></script>
    <script type="text/javascript" src="/static/js/ui.js"></script>

    <link id="ui-theme" rel="stylesheet" href="/static/css/custom-theme/jquery-ui.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    
    <title>{% block title %}Planering{% endblock %}</title>  
    
<script>
 $(function() {
    $( "button" ).button().click(function( event ) {
        //event.preventDefault();
    });
    
    $( ".a_button" ).button();
});
</script>

</head>
<body>
<img src="/static/images/logo.png" style="float:left;margin-right:1em;">
{% block menu %}
{% endblock %}
<div class="menu" style="float:right">
<div class="menu_launcher" style="margin-top: -22px;">
   Administration
   <div class="menu_container ui-widget-content">
        <ul class="menu">
            <li class="link"><a href="/administration/send_invitations/"> Skicka inloggning </a></li>
            <li class="link"><a href="/administration/get_mailchimp_users/"> Synka med MailChimp </a></li>
        </ul>
    </div>
</div>
<a style="margin-top: -22px;" class="a_button" href="/logout"> Logga ut </a>
<img src="/static/images/fullscreen.jpeg" height="30" onclick="$(document).fullScreen(true);">
</div>
<script>
 $.ajaxSetup ({
  cache: true
 });
menus();
</script>
<div style="clear:both"></div>
{% block body %}
{% endblock %}
</body>
</html>
