<!--    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>    
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/ui/jquery.ui.datepicker-sv.js"></script>-->

<script>
$( document ).ready(function() {
    $.users = {{users|safe}}
});
</script>

{% load crispy_forms_tags %}

<div id="dialog-confirm" title="Är du säker?" style="display:none;">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Evenemanget kommer tas bort permanent och kan ej ångras.</p>
</div>

<div id="dialog-modal" title="Spara evenemang">
    <p></p>
</div>

{% if form.errors %}
    <p style="color: red;">
        Vänligen korrigera nedanstående fel.
        {{ form.non_field_errors }}
    </p>
{% endif %}


    <div id="ajaxwrapper">
    {{ form.media }}
    {% crispy form %}
    {% csrf_token %}
    </div>


<script>
 $(function() {
    
    datepicker_options = {
        dateFormat: "yy-mm-dd",
        firstDay: 1,
    }

    $( "#id_start_date").datepicker(datepicker_options);
    $( "#id_publish_date").datepicker(datepicker_options);

    $("#event_title").html("{{ title }}");
    
    $("#event_form").submit(function() {

    {% if pk %}
        var url = "/planner/event/{{type}}/form/{{pk}}/"; // the script where you handle the form input.
    {% else %}
        var url = "/planner/event/{{type}}/form/";
    {% endif %}

    
    $.ajax({
           type: "POST",
           url: url,
           data: $("#event_form").serialize(), // serializes the form's elements.
           success: function(data)
           {
               $("#data").load(encodeURI("/planner/event/{{type}}/form/" + data['pk'] + "/"));
               $("#documents").load("/fileuploader/" + data['pk'] +"/");
               get_events();
           }
         });

    return false; // avoid to execute the actual submit of the form.
});
});

 $(function() {
$( "#submit" )
.button()
.click(function() {
    });
    
$( "#delete" ).button().click(function( event ) {
        
    $( "#dialog-confirm" ).dialog({
        resizable: false,
        width:350,
        modal: true,
        buttons: {
        "Ta bort evenemang": function() {            
            $("#data").load("/planner/event/{{type}}/delete/{{pk}}/", function () {
                $("#data").html("");
                $("#event_title").html("Evenemang");
                get_events();
                });
            
            $( this ).dialog( "close" );
                },
        "Avbryt": function() {
            $( this ).dialog( "close" );
            }
        }
        });
    });     
});

$(function() {
    $(".token-input-list .token-input-token").each(function (index, e) {
        if ($($($(e).children()).children()[0]).attr("status") == "null") {
            $(e).append('<span><img src="/static/images/yellow_circle.png" height="16" width="16" style="margin-right:2px"></span>');
            }
        else if ($($($(e).children()).children()[0]).attr("status") == "true") {
            $(e).append('<span><img src="/static/images/tick.png" height="16" width="16" style="margin-right:2px"></span>');
            }
    });
});

function onAdd(item, li) {
    li.append('<span><img src="/static/images/yellow_circle.png" height="16" width="16" style="margin-right:2px"></span>');
    console.log(item);
        $.ajax({
           type: "POST",
           url: "/planner/event/{{pk}}/participation/" + li.parent().parent().children("input").attr("name") + "/add/" + item.id + "/",
           data: {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value}, // serializes the form's elements.
           success: function(data)
           {
               console.log("great success");
           }
         });
    }

function onDelete(item, li) {
    console.log(li);
        $.ajax({
           type: "POST",
           url: "/planner/event/{{pk}}/participation/" + li.attr("name") + "/delete/" + item.id + "/",
           data: {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value}, // serializes the form's elements.
           success: function(data)
           {
               console.log("great success");
           }
         });
    }
</script>
