<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>    
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/js/ui/jquery.ui.datepicker-sv.js"></script>-->
<div style="margin-top:40px"/>
{% for file in files %}
    <div class="thumbnail" onclick="window.location='{{MEDIA_URL}}{{file.file_field}}';">
    <img src="{{MEDIA_URL}}{{file.thumbnail}}"/>
    <p>{{file.name}}  </p>
    </div>
{% endfor %}
<div style="clear:both"/>
<!-- The form starts -->
<form action="/fileuploader/{{pk}}/" method="post" enctype="multipart/form-data" id="upload">
    {{ form.as_p }}
    {% csrf_token %}
    </br><input type="submit" name="Submit"/>
</form>

<div id="results"></div>

<script>
$(document).ready(function()
{  
        $('#upload').ajaxForm({
        beforeSubmit: function() {
            $('#results').html('Submitting...');
        },
        success: function(data) {
            $("#documents").html(data);
        }
    });
}) 

$(" #id_file_field" ).change( function(e) {
    $("#id_name").val($(this).val());
});
</script>