{% extends "base.html" %}

{% block menu %}
<div style="float:left" class="menu_launcher">
    Nytt evenemang
   <div class="menu_container ui-widget-content">
        <ul class="menu">
        {% for event in events %}
            <li class="new_event" value="{{event.type}}">{{event.type}}</li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block body %}
<div id="sidebar">
    <h4 class="select_title">Evenemang</h4>
    <ul class="label_selector" id="event_selector">
    {% for name in eventtype %}
        <li class="label_selector" value={{name}}>{{name}}</li>
    {% endfor %}
    </ul>
</div>


</div>

<div id="eventtable" class="content">
</div>


<div id="resizable" class="ui-widget-content">


<div id="tabs">
    <ul>
    <li><a href="#data">Planering</a></li>
    <li><a href="#documents">Dokument</a></li>
    </ul>

    <div id="data" class ="tabs">
    </div>
    <div id="documents" class = "tabs">
    </div>

</div>
</div>

<script>
function get_events() {
    if ($.selected_events.length == 0){
        $.getJSON( "planner/getevents/", function( data ) {
            update_events(data);
            });
        }
    else {
        $.getJSON( "planner/getevents/", "eventtype="+$.selected_events, function( data ) {
            update_events(data);
            });
    }
} 

function update_events(data){
    var items = [];
    $.each( data.events, function( key, val ) {
    d = new Date(val.timestamp);
             
         
    items.push( "<tr id=" + val.pk + " type=" + val.type + "><td>" + val.title + "</td>" + "<td>" + val.verbose_name + "</td>" +  "<td>"+d.getDate() + "/" + (d.getMonth()+1) + "</td></tr>" );
    });


    $("#eventtable").html('<table class="eventtable"> \
            <thead>\
                <tr style="background-color: #fff !important;">\
                <th>Titel</th>\
                <th>Typ</th>\
                <th>Datum</th>\
                </tr>\
            </thead>\
            <tbody>\
      <tr>' +items.join( "" ) +  "</tr></tbody></table>"
    )
    
    $("tr").click(function(e) {
        $("#data").load("/planner/event/" + $(e.target).parent().attr("type") + "/form/" +  $(e.target).parent().attr("id") + "/");
        $("#documents").load("/fileuploader/" + $(e.target).parent().attr("id") +"/");
    });
    
    $("tr").hover(function(){
        $(this).toggleClass('hover');      
        });
}

$(function () {
    $.selected_events = [];
    get_events();
    $( "ul.label_selector").bind( "mousedown", function ( e ) {
        e.metaKey = true;
        val = $(e.target).attr("value");
        
        if ($.inArray(val, $.selected_events) != -1){
            $.selected_events.splice($.inArray(val, $.selected_events), 1);
            }
        else {
            $.selected_events.push(val);
            }
        get_events();
      } ).selectable();
    
    $( "li.label_selector").hover(function(){
        $(this).toggleClass('hover');      
    });   


    $( "#resizable" ).resizable({
        minHeight: 25,
        maxHeight: $(window).height()*0.8,
        handles: 'n',
    });
    
    $( "#tabs" ).width($(window).width()*0.9-10);
    $( "#tabs" ).height($(window).height()*0.5);
    $("#tabs").tabs();
    
    $( window ).resize(function() {
        $( "#tabs" ).width($(window).width()*0.9-10);
        $( "#tabs" ).height($(window).height()*0.5);
    });

    menus();

    $(".new_event").click(function(e) {
        $("#data").load(escape("/planner/event/" + encodeURI($(this).attr("value")) + "/form/")); 
    });

    $("#sidebar").width($("#logo").width());   
});
</script>
{% endblock %}

