{% extends "base.html" %}

{% block body %}
<div id="sidebar">
<h4 class="select_title">Evenemang</h4>
    <ul class="label_selector" id="event_selector">
    {% for event in events %}
        <li class="label_selector" value={{event.type}}>{{event.verbose_name}}</li>
    {% endfor %}
    </ul>
</div>
<div id="menu">
<div id='new_event_launcher'>
    Nytt evenemang
   <div id="new_event_menu_container" class="ui-widget-content" style="display: none; width:10.5em">
   <ul id="new_event_menu">
    {% for event in events %}
        <li class="new_event" value={{event.type}}>{{event.verbose_name}}</li>
    {% endfor %}
   </ul>
</div>
</div>

<a href="/logout"> Logga ut </a>
</div>

<div id="eventtable" >
</div>

<!--<div id="resizable" class="ui-widget-content">
<h3 class="ui-widget-header" id="event_title">Evenemang</h3>-->
<div id="tabs">
<ul>
<li><a href="#data">Planering</a></li>
<li><a href="#documents">Dokument</a></li>
</ul>

<div id="data" class ="tabs">
</div>
<div id="documents" class = "tabs">

</div>
</div>
<!--</div>-->



<script>
function get_events() {
    if ($.selected_events.length == 0){
        $.getJSON( "planner/getevents/", function( data ) {
            update_events(data);
            });
        }
    else {
        $.getJSON( "planner/getevents/", "eventtype="+$.selected_events, function( data ) {
            update_events(data);
            });
    }
} 

function update_events(data){
    var items = [];
    $.each( data.events, function( key, val ) {
    d = new Date(val.timestamp);
             
         
    items.push( "<tr id=" + val.pk + " type=" + val.type + "><td>" + val.title + "</td>" + "<td>" + val.verbose_name + "</td>" +  "<td>"+d.getDate() + "/" + (d.getMonth()+1) + "</td></tr>" );
    });


    $("#eventtable").html('<table class="eventtable"> \
            <thead>\
                <tr style="background-color: #fff !important;">\
                <th>Titel</th>\
                <th>Typ</th>\
                <th>Datum</th>\
                </tr>\
            </thead>\
            <tbody>\
      <tr>' +items.join( "" ) +  "</tr></tbody></table>"
    )
    
    $("tr").click(function(e) {
        $("#data").load("/planner/event/" + $(e.target).parent().attr("type") + "/form/" +  $(e.target).parent().attr("id") + "/");
        $("#documents").load("/fileuploader/" + $(e.target).parent().attr("id") +"/");
    });
    
    $("tr").hover(function(){
        $(this).toggleClass('hover');      
        });
}

$(function () {
    $.selected_events = [];
    get_events();
    $( "ul.label_selector").bind( "mousedown", function ( e ) {
        e.metaKey = true;
        val = $(e.target).attr("value");
        
        if ($.inArray(val, $.selected_events) != -1){
            $.selected_events.splice($.inArray(val, $.selected_events), 1);
            }
        else {
            $.selected_events.push(val);
            }
        get_events();
      } ).selectable();
    
    $( "li.label_selector").hover(function(){
        $(this).toggleClass('hover');      
        });
        
    
    $("#event_selector .li").click(function() {
        console.log($(this));            
    });
    
    $( "#new_event_launcher").button();
    $( "#new_event_launcher").css('width', '10.5em');
    $( "#settings_menu" ).menu();

    $("#new_event_launcher").mouseenter(function() {

        // .position() uses position relative to the offset parent, 
        var pos = $(this).position();

        // .outerWidth() takes into account border and padding.
        var width = $(this).outerWidth();
        
        //show the menu directly over the placeholder
        $("#new_event_menu_container").css({
            position: "absolute",
            top: (pos.bottom - 101) + "px",
            left: (pos.left + width) + "px"
            }).show();
            
            $("#new_event_menu_container").position({
            of: "#new_event_launcher",
            my: "left top",
            at: "left bottom",
            collision: "none"});
    });
    
    $("#new_event_menu_container").mouseleave(function() {
        $("#new_event_menu_container").hide();         
    });
    
    $("#new_event_launcher").mouseleave(function() {
        $("#new_event_menu_container").hide();         
    });
    
    $(".new_event").click(function(e) {
        $("#data").load("/planner/event/" + $(this).attr("value") + "/form/");     
    });
    
    
    
    dialogOptions = {
        autoOpen: false,
        height: 600,
        width: 1200,
        modal: true,
        //appendTo: "#annotate"
        show: {
            effect: "blind",
            duration: 200
        },
        hide: {
            effect: "blind",
            duration: 200
        },
         buttons: {
            "Avsluta": function() {
            $( this ).dialog( "close" );
            },
        },
    }



    
 
    
    $( "#tabs" ).resizable({
        minHeight: 150,
        minWidth: $(window).width()*0.7,
        maxWidth: $(window).width()*0.7,
        handles: 'n',
    });
    
    $( "#tabs" ).width($(window).width()*0.9-10);
    $( "#tabs" ).height($(window).height()*0.7);
    $("#tabs").tabs();
    
    $( window ).resize(function() {
        $( "#tabs" ).width($(window).width()*0.9-10);
        $( "#tabs" ).height($(window).height()*0.7);
    });
    
});
</script>
{% endblock %}

