{% extends "base.html" %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block body %}
<div id="sidebar">
    <h4 class="select_title">Datum</h4>
    <input class="date_selector" type="text" id="event_start_date">
    <input class="date_selector" style="margin-top: 0.2em;" type="text" id="event_end_date">

    <h4 class="select_title">Evenemang</h4>
    <ul class="label_selector" id="event_selector">
    {% for name in eventtype %}
        <li class="label_selector" value="{{name}}">{{name}}</li>
    {% endfor %}
    </ul>
</div>


</div>

<div id="table-wrapper">
  <div id="table-scroll">
  </div>
</div>


<div id="resizable" class="ui-widget-content">


<div id="tabs">
    <ul>
    <li><a href="#data">Planering</a></li>
    <li><a href="#documents">Dokument</a></li>
    </ul>

    <div id="data" class ="tabs">
    </div>
    <div id="documents" class = "tabs">
    </div>

</div>
</div>

<script>
function get_events() {
    var url = "/planner/getevents/" + $("#event_start_date").val() + '--' + $("#event_end_date").val() + '/'
    if ($.selected_events.length == 0){
        $.getJSON( url, function( data ) {
            update_events(data);
            });
        }
    else {
        $.getJSON( url, "eventtype="+ encodeURI($.selected_events), function( data ) {
            update_events(data);
            });
    }
} 

function update_events(data){
    var items = [];
    $.each( data.events, function( key, val ) {
    d = new Date(val.timestamp);
             
       
    items.push( "<tr id=" + val.pk + " type='" + val.type + "'><td>" + val.title + "</td>" + "<td>" + val.verbose_name + "</td>" +  "<td>"+d.getDate() + "/" + (d.getMonth()+1) + "</td></tr>" );
    });

    $("#table-scroll").html('<table class="eventtable"> \
            <thead>\
                <tr style="background-color: #fff !important;">\
                <th><span class="text">Titel</span></th>\
                <th><span class="text">Typ</span></th>\
                <th><span class="text">Datum</span></th>\
                </tr>\
            </thead>\
            <tbody>\
      <tr>' +items.join( "" ) +  "</tr></tbody></table>"
    )
    
    $("tr").click(function(e) {
        $("#data").load(encodeURI("/planner/event/" + $(e.target).parent().attr("type") + "/form/" +  $(e.target).parent().attr("id") + "/"));
        $("#documents").load(encodeURI("/fileuploader/" + $(e.target).parent().attr("id") +"/"));
    });
    
    $("tr").hover(function(){
        $(this).toggleClass('hover');      
        });
}

$(function () {
    datepicker_options = {
        dateFormat: "yy-mm-dd",
        firstDay: 1,
        onSelect: function(){
            get_events();
        }
    }

    $.selected_events = [];

    $( "#event_start_date" ).datepicker(datepicker_options); 
    $( "#event_end_date" ).datepicker(datepicker_options);

    $( "#event_start_date").datepicker( "setDate", new Date())
    $( "#event_end_date" ).datepicker( "setDate", "+6m" );

    get_events();

    $( "ul.label_selector").bind( "mousedown", function ( e ) {
        e.metaKey = true;
        val = $(e.target).attr("value");
        if ($.inArray(val, $.selected_events) != -1){
            $.selected_events.splice($.inArray(val, $.selected_events), 1);
            }
        else {
            $.selected_events.push(val);
            }
        get_events();
      } ).selectable();
    
    $( "li.label_selector").hover(function(){
        $(this).toggleClass('hover');      
    });   


    $( "#resizable" ).resizable({
        minHeight: 25,
        maxHeight: $(window).height()*0.8,
        handles: 'n',
        stop: function (event, ui) {
            $("#table-scroll").height( ui.position.top - $("#table-wrapper").position().top - 5);
        }
    });
    
    $( "#tabs" ).width($(window).width()*0.9-10);
    $( "#tabs" ).height($(window).height()*0.5);
    $("#tabs").tabs();
    
    $( window ).resize(function() {
        $( "#tabs" ).width($(window).width()*0.9-10);
        $( "#tabs" ).height($(window).height()*0.5);
    });

    menus();

    $(".new_event").click(function(e) {
        $("#data").load(encodeURI("/planner/event/" + $(this).attr("value") + "/form/")); 
    });

    $("#sidebar").width($("#logo").width());  

    console.log("here");

});
</script>
{% endblock %}

