Hej {{name}}!

Vi undrar om du kan hjälpa till på följande datum:
<table cellspacing="10">
<tr>
<th>Evenemang</th>
<th>Datum</th>
<th>Uppgift</th>
</tr>
{% for event in events %}
<tr><td>{{event.type}}</td><td> {{event.date|date:"d M Y H:i"}}</td><td>{{event.role}}</td></tr>
{% endfor %}
</table>

<p>För att svara så klickar du på länken nedan och markerar när du kan.</p>
<a href="http://{{ url|safe }}"> {{url|safe}} </a>

<p>
Med vänliga hälsningar </br>
Daniel Karlsson
</p>
<p>PS. Detta mailet skickades ut automatiskt med ett nytt system som vi håller på att pröva. 
Det går jättebra att svara som vanligt och ditt mail kommer då till min vanliga adress. DS."""

</p>