{% extends "base.html" %}

{% block body %}
<div class="content-no-sidebar">
<table cellspacing="10">
<tr>
<th>Evenemang</th>
<th>Datum</th>
<th>Uppgift</th>
</tr>
{% for event in events %}
<tr><td>{{event.name}}</td><td>{{event.date|date:"d M Y H:i"}}</td><td>{{event.role}}</td> 
<td class="td-button">
<form action="/planner/participation/{{event.pk}}/" method="post">
<a id="{{event.pk}}-true" class="a_button" onclick="$(this).parent().submit();$('#{{event.pk}}-false').addClass('inactive');$('#{{event.pk}}-true').removeClass('inactive');">Kan medverka</a>
{% csrf_token %}
<input type="hidden" name="accept" value="true">
</form>
</td>
<td class="td-button">
<form action="/planner/participation/{{event.pk}}/" method="post">
<a id="{{event.pk}}-false" class="a_button" style: onclick="$(this).parent().submit();$('#{{event.pk}}-true').addClass('inactive');$('#{{event.pk}}-false').removeClass('inactive');">Kan inte medverka</a>
{% csrf_token %}
<input type="hidden" name="accept" value="false">
</form>
</td>
</tr>
<script>
$(function () { 
  if ({{event.attending}} == true){
    console.log("hereaa");
    $("#{{event.pk}}-false").addClass("inactive");
  }
  if ({{event.attending}} == false){
    $("#{{event.pk}}-true").addClass("inactive");
  }
  if ({{event.attending}} == null){
    $("#{{event.pk}}-true").addClass("inactive");
    $("#{{event.pk}}-false").addClass("inactive");
  }
});
</script>
{% endfor %}
</table>
</div>
<script>
$("form").submit( function() {
    console.log();
    $.ajax({
           type: "POST",
           url: $(this).attr("action"),
           data: $(this).serialize(), // serializes the form's elements.
           success: function(data)
           {
               console.log("great success");
           }
         });
         
    return false;
});
</script>
{% endblock %}