Hej!

De senaste 24 timmarna så har följande anmälningar ändrats:
<table cellspacing="10">
<tr>
<th>Evenemang</th>
<th>Datum</th>
<th>Uppgift</th>
<th>Person</th>
<th>Från</th>
<th>Till</th>
</tr>
{% for participation in participations %}
<tr><td>{{participation.type}}</td><td> {{participation.date|date:"d M Y H:i"}}</td><td>{{participation.role}}</td><td>{{participation.name}}</td><td>{{participation.old_status}}</td><td>{{participation.new_status}}</td></tr>
{% endfor %}
</table>

<p>
Med vänliga hälsningar </br>
Daniel Karlsson
</p>
<p>PS. Detta mailet skickades ut automatiskt med ett nytt system som vi håller på att pröva. 
Det går jättebra att svara som vanligt och ditt mail kommer då till min vanliga adress. DS.
</p>